:root {
    --vscode-foreground: #cccccc;
    --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-background: #1f1f1f;
    --vscode-editor-foreground: #cccccc;
    --vscode-focusBorder: #0078d4;
    --vscode-textLink-foreground: #4daafc;
    --vscode-textLink-activeForeground: #4daafc;
    --vscode-editor-font-family: Consolas, 'Courier New', monospace;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #0078d4;
    --vscode-button-hoverBackground: #026ec1;
    --vscode-button-border: rgba(255, 255, 255, 0.07);
    --vscode-button-secondaryForeground: #cccccc;
    --vscode-button-secondaryBackground: #313131;
    --vscode-button-secondaryHoverBackground: #3c3c3c;
    --vscode-input-background: #313131;
    --vscode-input-foreground: #cccccc;
    --vscode-input-border: #3c3c3c;
    --vscode-input-placeholderForeground: #989898;
    
    --vscode-editorHoverWidget-background: #202020;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-editorBracketMatch-border: #888888;
    --vscode-editorHoverWidget-border: #454545;
    --vscode-widget-border: #313131;
    --vscode-editorOverviewRuler-border: #010409;
    --vscode-textPreformat-background: #3c3c3c;
    --vscode-editor-inactiveSelectionBackground: #3a3d41;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorStickyScroll-background: #1f1f1f;
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);

    --tc-chat-card-content-bg: var(--vscode-input-background);
    --tc-chat-card-content-like-unchecked: var(--vscode-badge-background);
    --tc-chat-card-content-like-checked: var(--vscode-foreground);
    --tc-caht-bg: var(--vscode-editor-background);
    
    --container-padding: 0;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;

}

/* html.dark {
    color-scheme: dark;
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #3375b9;
    --el-color-primary-light-5: #2a598a;
    --el-color-primary-light-7: #213d5b;
    --el-color-primary-light-8: #1d3043;
    --el-color-primary-light-9: #18222c;
    --el-color-primary-dark-2: #66b1ff;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #4e8e2f;
    --el-color-success-light-5: #3e6b27;
    --el-color-success-light-7: #2d481f;
    --el-color-success-light-8: #25371c;
    --el-color-success-light-9: #1c2518;
    --el-color-success-dark-2: #85ce61;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #a77730;
    --el-color-warning-light-5: #7d5b28;
    --el-color-warning-light-7: #533f20;
    --el-color-warning-light-8: #3e301c;
    --el-color-warning-light-9: #292218;
    --el-color-warning-dark-2: #ebb563;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #b25252;
    --el-color-danger-light-5: #854040;
    --el-color-danger-light-7: #582e2e;
    --el-color-danger-light-8: #412626;
    --el-color-danger-light-9: #2b1d1d;
    --el-color-danger-dark-2: #f78989;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #b25252;
    --el-color-error-light-5: #854040;
    --el-color-error-light-7: #582e2e;
    --el-color-error-light-8: #412626;
    --el-color-error-light-9: #2b1d1d;
    --el-color-error-dark-2: #f78989;
    --el-color-info: #909399;
    --el-color-info-light-3: #6b6d71;
    --el-color-info-light-5: #525457;
    --el-color-info-light-7: #393a3c;
    --el-color-info-light-8: #2d2d2f;
    --el-color-info-light-9: #202121;
    --el-color-info-dark-2: #a6a9ad;
    --el-box-shadow: 0px 12px 32px 4px var(--vscode-widget-shadow), 0px 8px 20px rgba(0, 0, 0, 0.72);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
    --el-bg-color-page: var(--vscode-editor-background);
    --el-bg-color: var(--vscode-editor-background);
    --el-bg-color-overlay: var(--vscode-editorHoverWidget-background);
    --el-text-color-primary: var(--vscode-editor-foreground);
    --el-text-color-regular: var(--vscode-editor-foreground);
    --el-text-color-secondary: var(--vscode-button-secondaryForeground);
    --el-text-color-placeholder: var(--vscode-input-placeholderForeground);
    --el-text-color-disabled: var(--vscode-disabledForeground);
    --el-border-color-darker: var(--vscode-editorBracketMatch-border);
    --el-border-color-dark: var(--vscode-editorBracketMatch-border);
    --el-border-color: var(--vscode-button-border);
    --el-border-color-light: var(--vscode-editorHoverWidget-border);
    --el-border-color-lighter: var(--vscode-widget-border);
    --el-border-color-extra-light: var(--vscode-editorOverviewRuler-border);
    --el-fill-color-darker: var(--vscode-textPreformat-background);
    --el-fill-color-dark: var(--vscode-editor-inactiveSelectionBackground);
    --el-fill-color: var(--vscode-editor-background);
    --el-fill-color-light: var(--vscode-editorStickyScrollHover-background);
    --el-fill-color-lighter: var(--vscode-editorStickyScroll-background);
    --el-fill-color-extra-light: var(--vscode-editorHoverWidget-background);
    --el-fill-color-blank: transparent;
    --el-mask-color: var(--vscode-widget-shadow);
    --el-mask-color-extra-light: var(--vscode-toolbar-hoverBackground);
    --el-border-color-hover: var( --vscode-focusBorder)
} */

/* html.dark .el-button {
    --el-button-disabled-text-color: rgba(255, 255, 255, 0.5)
}

html.dark .el-card {
    --el-card-bg-color: var(--el-bg-color-overlay)
}

html.dark .el-empty {
    --el-empty-fill-color-0: var(--el-color-black);
    --el-empty-fill-color-1: #4b4b52;
    --el-empty-fill-color-2: #36383d;
    --el-empty-fill-color-3: #1e1e20;
    --el-empty-fill-color-4: #262629;
    --el-empty-fill-color-5: #202124;
    --el-empty-fill-color-6: #212224;
    --el-empty-fill-color-7: #1b1c1f;
    --el-empty-fill-color-8: #1c1d1f;
    --el-empty-fill-color-9: #18181a
} */