:root[theme='purple'] {
    ---vscode-foreground: #a599e9;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: rgba(236, 58, 55, 0.96);
    --vscode-descriptionForeground: #a599e9;
    --vscode-icon-foreground: #c5c5c5;
    --vscode-focusBorder: #1e1e3f;
    --vscode-contrastBorder: rgba(255, 255, 255, 0);
    --vscode-contrastActiveBorder: rgba(255, 255, 255, 0);
    --vscode-selection-background: #b362ff;
    --vscode-textLink-foreground: #b362ff;
    --vscode-textLink-activeForeground: #b362ff;
    --vscode-textSeparator-foreground: #1e1e3f;
    --vscode-textPreformat-foreground: #fad000;
    --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
    --vscode-textBlockQuote-background: #1e1e3f;
    --vscode-textBlockQuote-border: #6943ff;
    --vscode-textCodeBlock-background: #1e1e3f;
    --vscode-sash-hoverBorder: #fad000;
    --vscode-badge-background: #fad000;
    --vscode-badge-foreground: #1e1e3f;
    --vscode-scrollbar-shadow: rgba(165, 153, 233, 0.51);
    --vscode-scrollbarSlider-background: rgba(165, 153, 233, 0.51);
    --vscode-scrollbarSlider-hoverBackground: #4d21fc;
    --vscode-scrollbarSlider-activeBackground: #fad000;
    --vscode-progressBar-background: #fad000;
    --vscode-editor-background: #2d2b55;
    --vscode-editor-foreground: #ffffff;
    --vscode-editorStickyScroll-background: #2d2b55;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorStickyScroll-shadow: rgba(165, 153, 233, 0.51);
    --vscode-editorWidget-background: #222244;
    --vscode-editorWidget-foreground: #a599e9;
    --vscode-editorWidget-border: #1f1f41;
    --vscode-editorError-foreground: rgba(236, 58, 55, 0.96);
    --vscode-editorWarning-foreground: #fad000;
    --vscode-editorWarning-border: rgba(255, 255, 255, 0);
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorLink-activeForeground: #a599e9;
    --vscode-editor-selectionBackground: rgba(179, 98, 255, 0.53);
    --vscode-editor-inactiveSelectionBackground: rgba(117, 128, 184, 0.75);
    --vscode-editor-selectionHighlightBackground: rgba(126, 70, 223, 0.28);
    --vscode-editor-findMatchBackground: rgba(255, 115, 0, 0.67);
    --vscode-editor-findMatchHighlightBackground: rgba(255, 255, 3, 0.21);
    --vscode-editor-findRangeHighlightBackground: rgba(255, 255, 3, 0.21);
    --vscode-editor-hoverHighlightBackground: rgba(30, 30, 63, 0.5);
    --vscode-editorHoverWidget-background: #161633;
    --vscode-editorHoverWidget-foreground: #a599e9;
    --vscode-editorHoverWidget-border: #161633;
    --vscode-editorHoverWidget-statusBarBackground: #1a1a3d;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(250, 208, 0, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(250, 208, 0, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(250, 208, 0, 0.1);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(105, 67, 255, 0.38);
    --vscode-editor-snippetTabstopHighlightBorder: rgba(105, 67, 255, 0.38);
    --vscode-editor-snippetFinalTabstopHighlightBackground: rgba(105, 67, 255, 0.38);
    --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(105, 67, 255, 0.38);
    --vscode-diffEditor-insertedTextBackground: rgba(58, 217, 0, 0.13);
    --vscode-diffEditor-removedTextBackground: rgba(238, 58, 67, 0.13);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-unchangedRegionBackground: #222244;
    --vscode-diffEditor-unchangedRegionForeground: #a599e9;
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.15);
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-breadcrumb-foreground: #a599e9;
    --vscode-breadcrumb-background: #2d2b55;
    --vscode-breadcrumb-focusForeground: #fad000;
    --vscode-breadcrumb-activeSelectionForeground: #ffffff;
    --vscode-breadcrumbPicker-background: #1e1e3f;
    --vscode-merge-currentHeaderBackground: rgba(58, 217, 0, 0.31);
    --vscode-merge-currentContentBackground: rgba(58, 217, 0, 0.31);
    --vscode-merge-incomingHeaderBackground: rgba(165, 153, 233, 0.31);
    --vscode-merge-incomingContentBackground: rgba(165, 153, 233, 0.31);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(238, 58, 67, 0.33);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(58, 217, 0, 0.33);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(255, 198, 0, 0.33);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-problemsErrorIcon-foreground: rgba(236, 58, 55, 0.96);
    --vscode-problemsWarningIcon-foreground: #fad000;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-input-background: #2d2b55;
    --vscode-input-foreground: #fad000;
    --vscode-input-border: #1e1e3f;
    --vscode-inputOption-activeBorder: #1e1e3f;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: #5d37f0;
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: #a599e9;
    --vscode-inputValidation-infoBackground: #2d2b55;
    --vscode-inputValidation-infoBorder: #2d2b55;
    --vscode-inputValidation-warningBackground: #2d2b55;
    --vscode-inputValidation-warningBorder: #fad000;
    --vscode-inputValidation-errorBackground: #2d2b55;
    --vscode-inputValidation-errorBorder: #fad000;
    --vscode-dropdown-background: #1e1e3f;
    --vscode-dropdown-foreground: #ffffff;
    --vscode-dropdown-border: #1e1e3f;
    --vscode-button-foreground: #222244;
    --vscode-button-separator: rgba(34, 34, 68, 0.4);
    --vscode-button-background: rgba(250, 208, 0, 0.87);
    --vscode-button-hoverBackground: #fad000;
    --vscode-button-border: rgba(255, 255, 255, 0);
    --vscode-button-secondaryForeground: #222244;
    --vscode-button-secondaryBackground: rgba(165, 153, 233, 0.8);
    --vscode-button-secondaryHoverBackground: #a599e9;
    --vscode-checkbox-background: #222244;
    --vscode-checkbox-selectBackground: #222244;
    --vscode-checkbox-foreground: #fad000;
    --vscode-checkbox-border: #1e1e3f;
    --vscode-checkbox-selectBorder: #c5c5c5;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-list-focusBackground: #2d2b55;
    --vscode-list-focusForeground: #ffffff;
    --vscode-list-focusOutline: #1e1e3f;
    --vscode-list-activeSelectionBackground: #2d2b55;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #2d2b55;
    --vscode-list-inactiveSelectionForeground: #aaaaaa;
    --vscode-list-hoverBackground: #2d2b55;
    --vscode-list-hoverForeground: #cec5ff;
    --vscode-list-dropBackground: #2d2b55;
    --vscode-list-dropBetweenBackground: #c5c5c5;
    --vscode-list-highlightForeground: #fad000;
    --vscode-list-focusHighlightForeground: #fad000;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #2d2b55;
    --vscode-listFilterWidget-outline: #2d2b55;
    --vscode-listFilterWidget-noMatchesOutline: rgba(236, 58, 55, 0.96);
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.15);
    --vscode-list-filterMatchBackground: rgba(255, 255, 3, 0.21);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(165, 153, 233, 0.04);
    --vscode-menu-foreground: #ffffff;
    --vscode-menu-background: #1e1e3f;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #2d2b55;
    --vscode-menu-separatorBackground: #a599e9;
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-infoHighlight: #3794ff;
    --vscode-minimap-warningHighlight: #fad000;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(165, 153, 233, 0.25);
    --vscode-minimapSlider-hoverBackground: rgba(77, 33, 252, 0.5);
    --vscode-minimapSlider-activeBackground: rgba(250, 208, 0, 0.5);
    --vscode-charts-foreground: #a599e9;
    --vscode-charts-lines: rgba(165, 153, 233, 0.5);
    --vscode-charts-red: rgba(236, 58, 55, 0.96);
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #fad000;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-quickInput-background: #222244;
    --vscode-quickInput-foreground: #a599e9;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: #a599e9;
    --vscode-pickerGroup-border: #1e1e3f;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #2d2b55;
    --vscode-search-resultsInfoForeground: rgba(165, 153, 233, 0.65);
    --vscode-searchEditor-findMatchBackground: rgba(255, 255, 3, 0.14);
    --vscode-multiDiffEditor-headerBackground: #262626;
    --vscode-multiDiffEditor-border: #1e1e3f;
    --vscode-symbolIcon-arrayForeground: #a599e9;
    --vscode-symbolIcon-booleanForeground: #a599e9;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #a599e9;
    --vscode-symbolIcon-constantForeground: #a599e9;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #a599e9;
    --vscode-symbolIcon-folderForeground: #a599e9;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #a599e9;
    --vscode-symbolIcon-keywordForeground: #a599e9;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #a599e9;
    --vscode-symbolIcon-namespaceForeground: #a599e9;
    --vscode-symbolIcon-nullForeground: #a599e9;
    --vscode-symbolIcon-numberForeground: #a599e9;
    --vscode-symbolIcon-objectForeground: #a599e9;
    --vscode-symbolIcon-operatorForeground: #a599e9;
    --vscode-symbolIcon-packageForeground: #a599e9;
    --vscode-symbolIcon-propertyForeground: #a599e9;
    --vscode-symbolIcon-referenceForeground: #a599e9;
    --vscode-symbolIcon-snippetForeground: #a599e9;
    --vscode-symbolIcon-stringForeground: #a599e9;
    --vscode-symbolIcon-structForeground: #a599e9;
    --vscode-symbolIcon-textForeground: #a599e9;
    --vscode-symbolIcon-typeParameterForeground: #a599e9;
    --vscode-symbolIcon-unitForeground: #a599e9;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-actionBar-toggledBackground: #5d37f0;
    --vscode-editorHoverWidget-highlightForeground: #fad000;
    --vscode-editor-lineHighlightBackground: #1f1f41;
    --vscode-editor-lineHighlightBorder: #1f1f41;
    --vscode-editor-rangeHighlightBackground: #1f1f41;
    --vscode-editor-symbolHighlightBackground: rgba(255, 255, 3, 0.21);
    --vscode-editorCursor-foreground: #fad000;
    --vscode-editorMultiCursor-primary-foreground: #fad000;
    --vscode-editorMultiCursor-secondary-foreground: #fad000;
    --vscode-editorWhitespace-foreground: rgba(255, 255, 255, 0.1);
    --vscode-editorLineNumber-foreground: #a599e9;
    --vscode-editorIndentGuide-background: rgba(165, 153, 233, 0.06);
    --vscode-editorIndentGuide-activeBackground: rgba(165, 153, 233, 0.26);
    --vscode-editorIndentGuide-background1: rgba(165, 153, 233, 0.06);
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: rgba(165, 153, 233, 0.26);
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: #c6c6c6;
    --vscode-editorRuler-foreground: rgba(165, 153, 233, 0.11);
    --vscode-editorCodeLens-foreground: #a599e9;
    --vscode-editorBracketMatch-background: rgba(173, 112, 252, 0.28);
    --vscode-editorBracketMatch-border: rgba(173, 112, 252, 0.28);
    --vscode-editorOverviewRuler-border: rgba(165, 153, 233, 0.11);
    --vscode-editorGutter-background: #28284e;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #fad000;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #fad000;
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-foldBackground: rgba(179, 98, 255, 0.16);
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editor-linkedEditingBackground: rgba(126, 70, 223, 0.67);
    --vscode-editor-wordHighlightBackground: rgba(255, 255, 255, 0.05);
    --vscode-editor-wordHighlightStrongBackground: rgba(255, 255, 255, 0.05);
    --vscode-editor-wordHighlightTextBackground: rgba(255, 255, 255, 0.05);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-peekViewTitle-background: #1f1f41;
    --vscode-peekViewTitleLabel-foreground: #fad000;
    --vscode-peekViewTitleDescription-foreground: #aaaaaa;
    --vscode-peekView-border: #fad000;
    --vscode-peekViewResult-background: #1e1e3f;
    --vscode-peekViewResult-lineForeground: #ffffff;
    --vscode-peekViewResult-fileForeground: #aaaaaa;
    --vscode-peekViewResult-selectionBackground: #2d2b55;
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: #1e1e3f;
    --vscode-peekViewEditorGutter-background: #191935;
    --vscode-peekViewEditorStickyScroll-background: #1e1e3f;
    --vscode-peekViewResult-matchHighlightBackground: #2d2b55;
    --vscode-peekViewEditor-matchHighlightBackground: rgba(25, 53, 73, 0);
    --vscode-editorMarkerNavigationError-background: rgba(236, 58, 55, 0.96);
    --vscode-editorMarkerNavigationError-headerBackground: rgba(236, 58, 55, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #fad000;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(250, 208, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: rgba(59, 83, 100, 0.2);
    --vscode-editorSuggestWidget-background: #1f1f41;
    --vscode-editorSuggestWidget-border: #1f1f41;
    --vscode-editorSuggestWidget-foreground: #a599e9;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: #2d2b55;
    --vscode-editorSuggestWidget-highlightForeground: #fad000;
    --vscode-editorSuggestWidget-focusHighlightForeground: #fad000;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(165, 153, 233, 0.5);
    --vscode-editorWatermark-foreground: rgba(255, 255, 255, 0.6);
    --vscode-tab-activeBackground: #222244;
    --vscode-tab-unfocusedActiveBackground: #222244;
    --vscode-tab-inactiveBackground: #2d2b55;
    --vscode-tab-unfocusedInactiveBackground: #2d2b55;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-inactiveForeground: #a599e9;
    --vscode-tab-unfocusedActiveForeground: #a599e9;
    --vscode-tab-unfocusedInactiveForeground: #a599e9;
    --vscode-tab-border: #1e1e3f;
    --vscode-tab-lastPinnedBorder: #585858;
    --vscode-tab-activeBorder: #fad000;
    --vscode-tab-unfocusedActiveBorder: rgba(250, 208, 0, 0.5);
    --vscode-tab-selectedBackground: #222244;
    --vscode-tab-selectedForeground: #ffffff;
    --vscode-tab-dragAndDropBorder: #ffffff;
    --vscode-tab-activeModifiedBorder: #a599e9;
    --vscode-tab-inactiveModifiedBorder: rgba(165, 153, 233, 0.4);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(165, 153, 233, 0.4);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(165, 153, 233, 0.4);
    --vscode-editorPane-background: #2d2b55;
    --vscode-editorGroupHeader-tabsBackground: #2d2b55;
    --vscode-editorGroupHeader-tabsBorder: #1f1f41;
    --vscode-editorGroupHeader-noTabsBackground: #2d2b55;
    --vscode-editorGroup-border: #222244;
    --vscode-editorGroup-dropBackground: rgba(34, 34, 68, 0.82);
    --vscode-editorGroup-dropIntoPromptForeground: #a599e9;
    --vscode-editorGroup-dropIntoPromptBackground: #222244;
    --vscode-sideBySideEditor-horizontalBorder: #222244;
    --vscode-sideBySideEditor-verticalBorder: #222244;
    --vscode-panel-background: #1e1e3f;
    --vscode-panel-border: #fad000;
    --vscode-panelTitle-activeForeground: #fad000;
    --vscode-panelTitle-inactiveForeground: #a599e9;
    --vscode-panelTitle-activeBorder: #fad000;
    --vscode-panelInput-border: #1e1e3f;
    --vscode-panel-dropBorder: #fad000;
    --vscode-panelSection-dropBackground: rgba(34, 34, 68, 0.82);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSectionHeader-border: rgba(255, 255, 255, 0);
    --vscode-panelSection-border: #fad000;
    --vscode-panelStickyScroll-background: #1e1e3f;
    --vscode-panelStickyScroll-shadow: rgba(165, 153, 233, 0.51);
    --vscode-banner-background: #2d2b55;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #a599e9;
    --vscode-statusBar-noFolderForeground: #a599e9;
    --vscode-statusBar-background: #1e1e3f;
    --vscode-statusBar-noFolderBackground: #1e1e3f;
    --vscode-statusBar-border: #1e1e3f;
    --vscode-statusBar-focusBorder: #a599e9;
    --vscode-statusBar-noFolderBorder: #1e1e3f;
    --vscode-statusBarItem-activeBackground: #4d21fc;
    --vscode-statusBarItem-focusBorder: #a599e9;
    --vscode-statusBarItem-hoverBackground: #4d21fc;
    --vscode-statusBarItem-hoverForeground: #a599e9;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #a599e9;
    --vscode-statusBarItem-prominentBackground: #1e1e3f;
    --vscode-statusBarItem-prominentHoverForeground: #a599e9;
    --vscode-statusBarItem-prominentHoverBackground: #2d2b55;
    --vscode-statusBarItem-errorBackground: rgba(160, 18, 15, 0.96);
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #a599e9;
    --vscode-statusBarItem-errorHoverBackground: #4d21fc;
    --vscode-statusBarItem-warningBackground: #967d00;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #a599e9;
    --vscode-statusBarItem-warningHoverBackground: #4d21fc;
    --vscode-activityBar-background: #28284e;
    --vscode-activityBar-foreground: #ffffff;
    --vscode-activityBar-inactiveForeground: #a599e9;
    --vscode-activityBar-border: #222244;
    --vscode-activityBar-activeBorder: rgba(105, 67, 255, 0.38);
    --vscode-activityBar-activeBackground: #222244;
    --vscode-activityBar-dropBorder: #ffffff;
    --vscode-activityBarBadge-background: #fad000;
    --vscode-activityBarBadge-foreground: #1e1e3f;
    --vscode-activityBarTop-foreground: #e7e7e7;
    --vscode-activityBarTop-activeBorder: #e7e7e7;
    --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-activityBarTop-dropBorder: #e7e7e7;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #fad000;
    --vscode-statusBarItem-remoteForeground: #1e1e3f;
    --vscode-statusBarItem-remoteHoverForeground: #a599e9;
    --vscode-statusBarItem-remoteHoverBackground: #4d21fc;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #1e1e3f;
    --vscode-statusBarItem-offlineHoverForeground: #a599e9;
    --vscode-statusBarItem-offlineHoverBackground: #4d21fc;
    --vscode-extensionBadge-remoteBackground: #fad000;
    --vscode-extensionBadge-remoteForeground: #1e1e3f;
    --vscode-sideBar-background: #222244;
    --vscode-sideBar-foreground: #a599e9;
    --vscode-sideBar-border: #25254b;
    --vscode-sideBarTitle-background: #222244;
    --vscode-sideBarTitle-foreground: #a599e9;
    --vscode-sideBar-dropBackground: rgba(34, 34, 68, 0.82);
    --vscode-sideBarSectionHeader-background: #1e1e3f;
    --vscode-sideBarSectionHeader-foreground: #a599e9;
    --vscode-sideBarSectionHeader-border: #1e1e3f;
    --vscode-sideBarActivityBarTop-border: #1e1e3f;
    --vscode-sideBarStickyScroll-background: #222244;
    --vscode-sideBarStickyScroll-shadow: rgba(165, 153, 233, 0.51);
    --vscode-titleBar-activeForeground: #ffffff;
    --vscode-titleBar-inactiveForeground: #a599e9;
    --vscode-titleBar-activeBackground: #1e1e3f;
    --vscode-titleBar-inactiveBackground: #1e1e3f;
    --vscode-menubar-selectionForeground: #ffffff;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-commandCenter-foreground: #ffffff;
    --vscode-commandCenter-activeForeground: #ffffff;
    --vscode-commandCenter-inactiveForeground: #a599e9;
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-border: rgba(255, 255, 255, 0.2);
    --vscode-commandCenter-activeBorder: rgba(255, 255, 255, 0.3);
    --vscode-commandCenter-inactiveBorder: rgba(165, 153, 233, 0.25);
    --vscode-notificationCenter-border: #1e1e3f;
    --vscode-notificationToast-border: #1e1e3f;
    --vscode-notifications-foreground: #cec5ff;
    --vscode-notifications-background: #1e1e3f;
    --vscode-notificationLink-foreground: #ffffff;
    --vscode-notificationCenterHeader-foreground: #ffffff;
    --vscode-notificationCenterHeader-background: #6943ff;
    --vscode-notifications-border: #2d2b55;
    --vscode-notificationsErrorIcon-foreground: rgba(236, 58, 55, 0.96);
    --vscode-notificationsWarningIcon-foreground: #fad000;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-requestBackground: rgba(45, 43, 85, 0.62);
    --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
    --vscode-chat-slashCommandForeground: #40a6ff;
    --vscode-chat-avatarBackground: #1f1f1f;
    --vscode-chat-avatarForeground: #a599e9;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: #1e1e3f;
    --vscode-editorCommentsWidget-replyInputBackground: #1f1f41;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #1e1e3f;
    --vscode-editorCommentsWidget-rangeBackground: rgba(30, 30, 63, 0.1);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(30, 30, 63, 0.1);
    --vscode-editorGutter-commentRangeForeground: #2d2b55;
    --vscode-editorOverviewRuler-commentForeground: #2d2b55;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #2d2b55;
    --vscode-editorGutter-commentGlyphForeground: #ffffff;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #ffffff;
    --vscode-debugToolBar-background: #1e1e3f;
    --vscode-debugIcon-startForeground: #fad000;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase-background: #4b1818;
    --vscode-mergeEditor-changeBase-word-background: #6f1313;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict-input1-background: rgba(58, 217, 0, 0.13);
    --vscode-mergeEditor-conflict-input2-background: rgba(165, 153, 233, 0.13);
    --vscode-settings-headerForeground: #ffffff;
    --vscode-settings-settingsHeaderHoverForeground: rgba(255, 255, 255, 0.7);
    --vscode-settings-modifiedItemIndicator: #fad000;
    --vscode-settings-headerBorder: #fad000;
    --vscode-settings-sashBorder: #fad000;
    --vscode-settings-dropdownBackground: #1e1e3f;
    --vscode-settings-dropdownForeground: #e5e4fb;
    --vscode-settings-dropdownBorder: #1e1e3f;
    --vscode-settings-dropdownListBorder: #2d2b55;
    --vscode-settings-checkboxBackground: #1e1e3f;
    --vscode-settings-checkboxForeground: #e5e4fb;
    --vscode-settings-checkboxBorder: #1e1e3f;
    --vscode-settings-textInputBackground: #1e1e3f;
    --vscode-settings-textInputForeground: #e5e4fb;
    --vscode-settings-textInputBorder: #1e1e3f;
    --vscode-settings-numberInputBackground: #1e1e3f;
    --vscode-settings-numberInputForeground: #e5e4fb;
    --vscode-settings-numberInputBorder: #1e1e3f;
    --vscode-settings-focusedRowBackground: rgba(45, 43, 85, 0.6);
    --vscode-settings-rowHoverBackground: rgba(45, 43, 85, 0.3);
    --vscode-settings-focusedRowBorder: #1e1e3f;
    --vscode-terminal-background: #1e1e3f;
    --vscode-terminal-foreground: #ffffff;
    --vscode-terminalCursor-foreground: #fad000;
    --vscode-terminalCursor-background: #fad000;
    --vscode-terminal-selectionBackground: rgba(179, 98, 255, 0.53);
    --vscode-terminal-inactiveSelectionBackground: rgba(179, 98, 255, 0.27);
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #fad000;
    --vscode-terminal-findMatchBackground: rgba(255, 115, 0, 0.67);
    --vscode-terminal-hoverHighlightBackground: rgba(30, 30, 63, 0.25);
    --vscode-terminal-findMatchHighlightBackground: rgba(255, 255, 3, 0.21);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(34, 34, 68, 0.82);
    --vscode-terminal-tab-activeBorder: #fad000;
    --vscode-terminalStickyScrollHover-background: #2a2d2e;
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: rgba(236, 58, 55, 0.96);
    --vscode-testing-messagePeekBorder: #3794ff;
    --vscode-testing-peekHeaderBackground: rgba(236, 58, 55, 0.1);
    --vscode-testing-messagePeekHeaderBackground: rgba(55, 148, 255, 0.1);
    --vscode-testing-coveredBackground: rgba(58, 217, 0, 0.13);
    --vscode-testing-coveredBorder: rgba(58, 217, 0, 0.09);
    --vscode-testing-coveredGutterBackground: rgba(58, 217, 0, 0.07);
    --vscode-testing-uncoveredBranchBackground: #5d2e50;
    --vscode-testing-uncoveredBackground: rgba(238, 58, 67, 0.13);
    --vscode-testing-uncoveredBorder: rgba(238, 58, 67, 0.09);
    --vscode-testing-uncoveredGutterBackground: rgba(238, 58, 67, 0.19);
    --vscode-testing-coverCountBadgeBackground: #fad000;
    --vscode-testing-coverCountBadgeForeground: #1e1e3f;
    --vscode-testing-message-error-decorationForeground: rgba(236, 58, 55, 0.96);
    --vscode-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
    --vscode-testing-message-info-decorationForeground: rgba(255, 255, 255, 0.5);
    --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --vscode-welcomePage-tileBackground: #222244;
    --vscode-welcomePage-tileHoverBackground: #292952;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-progress-background: #2d2b55;
    --vscode-welcomePage-progress-foreground: #b362ff;
    --vscode-walkthrough-stepTitle-foreground: #ffffff;
    --vscode-walkThrough-embeddedEditorBackground: #1e1e3f;
    --vscode-inlineChat-background: #222244;
    --vscode-inlineChat-border: #1f1f41;
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.15);
    --vscode-inlineChat-regionHighlight: rgba(30, 30, 63, 0.5);
    --vscode-inlineChatInput-border: #1f1f41;
    --vscode-inlineChatInput-focusBorder: #1e1e3f;
    --vscode-inlineChatInput-placeholderForeground: #a599e9;
    --vscode-inlineChatInput-background: #2d2b55;
    --vscode-inlineChatDiff-inserted: rgba(58, 217, 0, 0.06);
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(58, 217, 0, 0.07);
    --vscode-inlineChatDiff-removed: rgba(238, 58, 67, 0.06);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(238, 58, 67, 0.07);
    --vscode-debugExceptionWidget-border: #a599e9;
    --vscode-debugExceptionWidget-background: #1e1e3f;
    --vscode-statusBar-debuggingBackground: #fad000;
    --vscode-statusBar-debuggingForeground: #1e1e3f;
    --vscode-statusBar-debuggingBorder: #1e1e3f;
    --vscode-commandCenter-debuggingBackground: rgba(250, 208, 0, 0.26);
    --vscode-editorGutter-modifiedBackground: rgba(173, 112, 252, 0.28);
    --vscode-editorGutter-addedBackground: #35ad68;
    --vscode-editorGutter-deletedBackground: rgba(236, 58, 55, 0.96);
    --vscode-minimapGutter-modifiedBackground: rgba(173, 112, 252, 0.28);
    --vscode-minimapGutter-addedBackground: #35ad68;
    --vscode-minimapGutter-deletedBackground: rgba(236, 58, 55, 0.96);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(173, 112, 252, 0.17);
    --vscode-editorOverviewRuler-addedForeground: rgba(53, 173, 104, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(236, 58, 55, 0.58);
    --vscode-keybindingTable-headerBackground: rgba(165, 153, 233, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(165, 153, 233, 0.04);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-ports-iconRunningProcessForeground: #fad000;
    --vscode-profiles-sashBorder: #fad000;
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #a599e9;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #a599e9;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #3794ff;
    --vscode-debugConsole-warningForeground: #fad000;
    --vscode-debugConsole-errorForeground: rgba(236, 58, 55, 0.96);
    --vscode-debugConsole-sourceForeground: #a599e9;
    --vscode-debugConsoleInputIcon-foreground: #a599e9;
    --vscode-debugIcon-pauseForeground: #fad000;
    --vscode-debugIcon-stopForeground: rgba(236, 58, 55, 0.96);
    --vscode-debugIcon-disconnectForeground: #fad000;
    --vscode-debugIcon-restartForeground: #3ad900;
    --vscode-debugIcon-stepOverForeground: #fad000;
    --vscode-debugIcon-stepIntoForeground: #fad000;
    --vscode-debugIcon-stepOutForeground: #fad000;
    --vscode-debugIcon-continueForeground: #fad000;
    --vscode-debugIcon-stepBackForeground: #fad000;
    --vscode-scm-historyItemAdditionsForeground: #81b88b;
    --vscode-scm-historyItemDeletionsForeground: rgba(236, 58, 55, 0.96);
    --vscode-scm-historyItemStatisticsBorder: rgba(165, 153, 233, 0.2);
    --vscode-scm-historyItemSelectedStatisticsBorder: rgba(255, 255, 255, 0.2);
    --vscode-extensionButton-background: rgba(250, 208, 0, 0.87);
    --vscode-extensionButton-foreground: #222244;
    --vscode-extensionButton-hoverBackground: #fad000;
    --vscode-extensionButton-separator: rgba(34, 34, 68, 0.4);
    --vscode-extensionButton-prominentBackground: #5d37f0;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #ff9d00;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-verifiedForeground: #b362ff;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-notebook-cellBorderColor: #2d2b55;
    --vscode-notebook-focusedEditorBorder: #1e1e3f;
    --vscode-notebookStatusSuccessIcon-foreground: #fad000;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #fad000;
    --vscode-notebookStatusErrorIcon-foreground: rgba(236, 58, 55, 0.96);
    --vscode-notebookStatusRunningIcon-foreground: #a599e9;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #2d2b55;
    --vscode-notebook-selectedCellBorder: #2d2b55;
    --vscode-notebook-focusedCellBorder: #1e1e3f;
    --vscode-notebook-inactiveFocusedCellBorder: #2d2b55;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #1e1e3f;
    --vscode-notebookScrollbarSlider-background: rgba(165, 153, 233, 0.51);
    --vscode-notebookScrollbarSlider-hoverBackground: #4d21fc;
    --vscode-notebookScrollbarSlider-activeBackground: #fad000;
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #222244;
    --vscode-notebook-editorBackground: #2d2b55;
    --vscode-interactive-activeCodeBorder: #fad000;
    --vscode-interactive-inactiveCodeBorder: #2d2b55;
    --vscode-searchEditor-textInputBorder: #1e1e3f;
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiRed: rgba(236, 58, 55, 0.96);
    --vscode-terminal-ansiGreen: #3ad900;
    --vscode-terminal-ansiYellow: #fad000;
    --vscode-terminal-ansiBlue: #7857fe;
    --vscode-terminal-ansiMagenta: #ff2c70;
    --vscode-terminal-ansiCyan: #80fcff;
    --vscode-terminal-ansiWhite: #ffffff;
    --vscode-terminal-ansiBrightBlack: #5c5c61;
    --vscode-terminal-ansiBrightRed: rgba(236, 58, 55, 0.96);
    --vscode-terminal-ansiBrightGreen: #3ad900;
    --vscode-terminal-ansiBrightYellow: #fad000;
    --vscode-terminal-ansiBrightBlue: #6943ff;
    --vscode-terminal-ansiBrightMagenta: #fb94ff;
    --vscode-terminal-ansiBrightCyan: #80fcff;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-modifiedResourceForeground: #fad000;
    --vscode-gitDecoration-deletedResourceForeground: rgba(236, 58, 55, 0.96);
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #3ad900;
    --vscode-gitDecoration-ignoredResourceForeground: rgba(165, 153, 233, 0.51);
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #ff7200;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}